.mapMaker {
    font-weight: bold;
    color: #4e4e4e;
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin-bottom: 2rem;
    animation: slideIn 2s;
    -webkit-animation: slideIn 2s ;
    -moz-animation: slideIn 2s ;
    -o-animation: slideIn 2s ;
    -ms-animation: slideIn 2s ;
}
.Button {
}