.form-group-widerruf {
    width: 70vw;
    max-width: 700px;
    min-width: 400px;
    padding: 10px 15px;
    box-sizing: border-box;
    left: 15vw;
    right: 15vw;
}

.form-control-widerruf {
    
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    width: 70vw;
    max-width: 700px;
    min-width: 400px;
    left: 15vw ;
    right: 15vw ;
    
}